.appointments {
    background-color: #acd1c4;
    width: 481px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    min-height: 310px;
}

.appointments p{
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
}