.patients-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .patient-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    list-style:none;
    background-color: #f0f0f0;
    align-items: flex-start;
  }

  .patient-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .patient-list::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 6px;
  }
  
  .patient-item {
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
    color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .patient-details {
    flex: 2;
  }
  
  .patient-item:hover {
    background-color: #e8e8e8;
    color: #333;
  }

  .risk-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  
  .high-risk {
    background-color: red;
  }
  
  .low-risk {
    background-color: green;
  }

  .patient-box {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.patient-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-risk-status{
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 20px;
}

.patient-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.patient-contact {
  width: 40%;
}

  .risk-status{
    justify-content: space-between;
    border: .5px solid black;
    border-radius: 20px;
    width: 12.5%;
    background-color: #ccc;
  }

  .empty {
    text-align: center;
    color: #888;
    padding: 20px;
  }

  .search-bar {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ACD2C4;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 87.5%;
  }

  .archive-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
    width: 90%;
  }
  
  .archive-button {
    background-color: #808080; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  .archive-button:hover {
    background-color: #a0a0a0; 
  }
  
  h2 {
    font-weight: 400;
    padding-left: 25px;
  }

  p {
    font-weight: 400;
    color: #888;
    padding-left: 25px;
  }