/* .patients-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .patient-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    list-style:none;
    background-color: #f0f0f0;
    align-items: flex-start;
  }
  
  .patient-item {
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
    color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
    p {
      color: #0b544b;
      font-family: "Jost-Regular", Helvetica;
      font-size: 15px;
      font-weight: 400;
    }
    
  .top-bar {
    background-color: #f2f8f8;
    height: 90px;
  }

  .patients-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .patient-list {
    flex: 1;
    padding: 20px;
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .patient_text {
    color: #0b544b;
    font-family: "Jost-Regular", Helvetica;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    width: 25%;
    margin-left: 40px;
    margin-right: 30px;
  }
  
  .patient-item {
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s;
    color: #888;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .patient-details {
    flex: 2;
  }
  
  .patient-item:hover {
    background-color: #fafafa;
    color: #333;
  }

  .risk-indicator {
    width: 15px;
    height: 15px;
    margin-left:5px;
    margin-right: -5px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  
  .high-risk {
    background-color: red;
  }
  
  .low-risk {
    background-color: transparent;
  }

  .patient-box {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #acd1c4;
    box-shadow: 0px 4px 4px #00000040;
}

.patient-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0px;
}

.patient-risk-status{
  padding: 5px 15px;
  border: 1px solid black;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 40px;
  color: #0b544b;
  font-family: "Jost-Bold", Helvetica;
  font-size: 17px;
  font-weight: 700;
  height: 20px;
  width: 80px;
  margin-left: -100px;
}

.patient-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.patient-contact {
  width: 40%;
}

  .risk-status{
    justify-content: space-between;
    border: .5px solid black;
    border-radius: 20px;
    width: 12.5%;
    background-color: #ccc;
  }

  .empty {
    text-align: center;
    color: #888;
    padding: 20px;
  }

  .search-bar {
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #acd1c4;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    background-color: #fffdfd;
    margin-right: 30px;
    width: 94%;
    height: 30px;
    margin-top: 18px;
  }

  .archive-button-container {
    display: flex;
    margin-top: 10px; 
    width: 90%;
  }
  
  .archive-button {
    background-color: #f2f8f8; 
    box-shadow: 0px 2px 2px #00000040;
    color: #0c544c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  .archive-button:hover {
    background-color: #e7eded; 
  }

  .diagnosis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .horizontal-line {
    border: none; 
    height: 1px;
    background-color: #6A9087;
    width: 90%;
    margin: 0 auto;
  }

  .bottom-half {
    display: flex;
    flex-direction: row;
    margin: 30px 75px;
  }


  .appointments {
    background-color: #acd1c4;
    width: 481px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-color: #acd1c4;
    width: 310px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    padding: 20px;
  }

  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 310px;
    background-color: #f2f8f8;
    border-radius: 20px;
    height: 60px;
    cursor: pointer;
  }

  .link p {
    margin-left: 20px;
    width: 300px;
  }

  .arrow {
    height: 10px;
    width: 8px;
    margin-right: 20px;
  }
  
  
  h2 {
    font-weight: 400;
    padding-left: 25px;
  }

